
body { font-family: Trebuchet MS; background-image:url('/images/bg.png'); background-color:#E0E4CC; }
body div#wrapper { width:800px; margin:0 auto; }

ul#nav a { font-size:60px; cursor:pointer; color:#666; }
ul#nav a:hover { color:#FA6900; }
ul#nav li { margin:40px 0; }