<!DOCTYPE html>
<html>
	<head>
		<title>danielormisher</title>
        <link rel="Stylesheet" href="css/reset.css" />
		<link rel="Stylesheet" href="css/site.css" />
		
		<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>		
        <div id="wrapper">{{ content }}</div>
	</body>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	
	<script type="text/javascript">
		var menu = {
			about: true,
			work: false,
			blog: false,
			contact: false,
		};
	
		$(function () {
			$('ul#nav li a').click(function () {
				var $parent = $(this).parent();
				$parent.find('.content').animate({ opacity: 'toggle', height: 'toggle'}, 'slow');
				$parent.toggleClass('active');
			});
		});
	</script>
	
</html>